<template>
  <div class="flex flex-wrap -mx-3 mb-2 mt-2">
    <div class="w-full px-3">
    <label class="block text-sm text-gray-600" for="cus_email">{{label}}</label>
      <input
        v-on="listeners"
        v-bind="attrs"
        :value="value"
        v-bind:class="{ 'border border-red-500': hasError }"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded px-2 py-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-password"
      />
      <p v-if="error" class="text-red-500 text-xs italic">{{error}}</p>
      <p v-if="hint" class="text-gray-600 text-xs italic">{{hint}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  props: ['label', 'hint', 'error', 'value'],
  computed: {
    hasError () {
      return this.error || false
    },
    listeners() {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          input: function (event) {
            vm.$emit('input', event.target.value)
          }
        }
      )
    },
    attrs() {
      const {...attrs } = this.$attrs
      return attrs
    },
  },

  methods: {
    input(event) {
      console.log('event: ', event);
      this.$emit('input', event)
    },
    blur(event) {
      this.$emit('blur', event)
    },
    focus(event) {
      this.$emit('focus', event)
    },
  },
};
</script>