<template>
  <div class="flex flex-wrap -mx-3">
    <div class="w-full px-3">
      <div class="inline-block mt-2 w-full pr-1">
      <label class="block text-sm text-gray-600" for="cus_email">{{label}}</label>
        <select
          v-bind="attrs"
          v-on="listeners"
          v-bind:class="{ 'border border-red-500': hasError }"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded px-2 py-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-state"
        >
          <option v-for="(item, index) of items" :value="item.value" :key="index">{{item.text}}</option>
        </select>
      </div>
      <p v-if="error" class="text-red-500 text-xs italic">{{error}}</p>
      <p v-if="hint" class="text-gray-600 text-xs italic">{{hint}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  props: ["label", "hint", "error", "items"],
  computed: {
    hasError() {
      return this.error || false;
    },    
    listeners() {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          input: function (event) {
            vm.$emit('input', event.target.value)
          }
        }
      )
    },
    attrs() {
      const { ...attrs } = this.$attrs;
      return attrs;
    }
  },
};
</script>