<template>
  <div class="bg-gray-100 h-screen">
    <Navbar />
    <div
      class="px-3 pt-24 mx-auto flex flex-wrap flex-col bg-gray-100 md:flex-row items-center justify-center"
    >
      <div class>
        <form class="w-full w-3/5 bg-white shadow-md px-8 pt-6 pb-8 mb-4 block">
          <p class="mt-4 text-gray-800 font-medium">Account Information</p>
          <ValidationProvider name="Email" rules="required|email|max:255" v-slot="{ errors }">
            <Input
              type="email"
              :error="errors[0]"
              v-model="customer.email"
              placeholder="Your Email"
              aria-label="Email"
              label="Email"
            />
          </ValidationProvider>
          <ValidationProvider name="Password" rules="required|max:155|min:8" v-slot="{ errors }">
            <Input
              type="password"
              :error="errors[0]"
              v-model="customer.password"
              placeholder="**********"
              aria-label="Password"
              label="Password"
            />
          </ValidationProvider>

          <p class="mt-4 text-gray-800 font-medium">Billing Information</p>
          <div class="flex flex-wrap -mx-3 mb-6 mt-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <ValidationProvider
                name="First name"
                rules="required|max:40|min:2"
                v-slot="{ errors }"
              >
                <Input
                  type="text"
                  :error="errors[0]"
                  v-model="customer.billing.first_name"
                  placeholder="John"
                  aria-label="First Name"
                  label="First Name"
                />
              </ValidationProvider>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <ValidationProvider
                name="Last name"
                rules="required|max:40|min:2"
                v-slot="{ errors }"
              >
                <Input
                  type="text"
                  :error="errors[0]"
                  v-model="customer.billing.last_name"
                  placeholder="Doe"
                  aria-label="Last Name"
                  label="Last Name"
                />
              </ValidationProvider>
            </div>
          </div>
          <div class="mt-2">
            <label class="block text-sm text-gray-600" for="cus_email">Address</label>
            <ValidationProvider name="Street" rules="required|max:180|min:2" v-slot="{ errors }">
              <Input
                type="text"
                :error="errors[0]"
                v-model="customer.billing.street"
                placeholder="Address"
                aria-label="Address"
              />
            </ValidationProvider>
            <ValidationProvider name="City" rules="required|max:70|min:2" v-slot="{ errors }">
              <Input
                type="text"
                :error="errors[0]"
                v-model="customer.billing.address.city"
                placeholder="City"
                aria-label="City"
              />
            </ValidationProvider>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6 mt-2">
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
              <ValidationProvider name="Country" rules="required" v-slot="{ errors }">
                <SelectInput
                  :error="errors[0]"
                  v-model="customer.billing.address.country"
                  placeholder="Country"
                  aria-label="Country"
                  label="Country"
                />
              </ValidationProvider>
            </div>
            <div class="w-full md:w-1/3 px-3">
              <ValidationProvider name="Province/State" rules="required" v-slot="{ errors }">
                <SelectInput
                  :error="errors[0]"
                  v-model="customer.billing.address.province"
                  placeholder="Province"
                  aria-label="Province/State"
                  label="Province/State"
                />
              </ValidationProvider>
            </div>
            <div class="w-full md:w-1/3 px-3">
              <ValidationProvider name="Zip" rules="min:4:max:12" v-slot="{ errors }">
                <Input
                  type="text"
                  :error="errors[0]"
                  v-model="customer.billing.address.zip"
                  aria-label="Zip"
                  label="Zip"
                />
              </ValidationProvider>
            </div>
          </div>

          <p class="mt-3 text-gray-800 font-medium">Payment information</p>
          <div class="w-full">
            <card class='stripe-card px-2 py-2 bg-gray-200'
              :class='{ complete }'
              stripe='pk_test_51H3wFMAFeAWAuADlTdYQ6bjoJa2VuvnvslWQ3FjibDILECFgQsPv4dfdfundTjn66Pq0I6y62sth88bmid3gWFws00mleLqAU2'
              :options='stripeOptions'
              @change='complete = $event.complete'
            />
          </div>
          <div class="mt-4 flex items-end">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
            >Submit</button>
          </div>
        </form>
      </div>
    </div>

    <svg
      class="wave-top"
      viewBox="0 0 1439 147"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
          <g class="wave" fill="#f8fafc">
            <path
              d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
            />
          </g>
          <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
            <g
              transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) "
            >
              <path
                d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
                opacity="0.100000001"
              />
              <path
                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                opacity="0.100000001"
              />
              <path
                d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
                opacity="0.200000003"
              />
            </g>
          </g>
        </g>
      </g>
    </svg>

    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";
import Input from "@/components/Input.vue";
import SelectInput from "@/components/SelectInput.vue";
import { Card, createToken } from 'vue-stripe-elements-plus'
export default {
  components: {
    Navbar,
    Footer,
    Input,
    SelectInput,
    Card
  },
  data() {
    return {
      complete: false,
      stripeOptions: {
        // see https://stripe.com/docs/stripe.js#element-options for details
      },
      customer: {
        billing: {
          address: {}
        }
      }
    };
  },

  methods: {
    pay () {
      // createToken returns a Promise which resolves in a result object with
      // either a token or an error key.
      // See https://stripe.com/docs/api#tokens for the token object.
      // See https://stripe.com/docs/api#errors for the error object.
      // More general https://stripe.com/docs/stripe.js#stripe-create-token.
      createToken().then(data => console.log(data.token))
    }
  }
};
</script>